body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.register{
  height: 80vh;
}
.register form{
  width: 350px;
}
.content form{
  width: 350px;
  margin: 0 auto;
}
.notes{
  margin: 10px;
}
#card{
  width: 350px;
  margin: 12px;
}


@media (min-width: 500px){
    .register form{
    width: 500px;
  }
  #card{
    width: 300px;
    float: left;
  }
}
